.authLayout {
    position: relative;
    min-height: calc(100vh - 64px);
    padding: 32px 24px;
    color: white;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: #0F141A;
    font-family: "Inter", sans-serif;
}