.header {
    position: sticky;
    top: 0;
    z-index: 10;
    height: 90px;
    background: #0F1923;

    display: flex;
    align-items: center;
}

.header__inner {
    width: 100%;
    height: 100%;
    padding: 0 400px;

    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.logo,
.auth {
    width: 180px;
    display: flex;
    align-items: center;
}

.logo {
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.08em;
    font-size: 30px;
    line-height: 1;
    white-space: nowrap;
    justify-self: start;
}

.nav {
    flex: 1;
    display: flex;
    justify-self: center;
}

.nav__list {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    align-items: center;
    gap: 30px;
}

.nav__link {
    position: relative;
    display: inline-flex;
    align-items: center;

    padding: 10px 4px;
    margin: 0;
    font-size: 16px;
    line-height: 1;

    color: #BEBEBE;
    text-decoration: none;

    transition:
            color 0.25s ease,
            transform 0.25s ease;
}

.nav__link:hover {
    color: #FFFFFF;
    transform: scale(1.08) translateY(-2px);
}

.nav__link.active {
    color: #fff;
    font-size: 17px;
}

.auth {
    height: 100%;
    display: flex;
    align-items: center;
    transform: none !important;
    justify-self: end;
}

.auth__login {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    height: 40px;
    padding: 0 15px;
    border-radius: 10px;

    background: none;
    color: #BEBEBE;
    text-decoration: none;
    line-height: 1;

    transition: transform 0.2s ease, background 0.2s ease;

    font-size: 16px;
}

.auth__login:hover {
    transform: translateY(-1px);
}

.nav__link:focus-visible,
.auth__login:focus-visible {
    outline: 2px solid rgba(255, 255, 255, 0.55);
    outline-offset: 3px;
    border-radius: 10px;
}


