.full-space {
    background:
        linear-gradient(
        to right,
        rgb(0 0 0 / .8), rgb(0 0 0 / 0)
        ), url("./imagesHeader/clovebanner.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    border-radius: 50px;

    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 300px;
}

.btn-edit-profile {
    color: #BEBEBE;

    margin: 10px 30px;
    padding: 10px 15px;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    border: #BEBEBE 1px solid;
    transition: transform 0.2s ease;
    font-family: Montserrat;
}

.btn-edit-profile::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease;
}

.btn-edit-profile::hover::after {
    transform: scaleX(1);
}

.btn-edit-profile:hover {
    transform: scale(1.1);
}