@font-face {
    font-family: 'Valorant';
    src: url('fontsVal/dinnextw1g.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Valorant2';
    src: url('fontsVal/Tungsten\ Bold.otf') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Valorant3';
    src: url('fontsVal/Valorant\ Font.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0;
    padding: 0;
    background-color: #1f1c25;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0c0c0e;
}

.btnsHeader {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 12px;
}

.homeStartPage {
    padding: 5px 5px;
    color: rgb(228, 228, 228);
    background-color: transparent;
    font-family: sans-serif;
}

h4 {
    font-family: 'Valorant3';
    color: white;
}

footer {
    color: white;
    font-family: 'Valorant1';
    width: 1500px;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
    display: block;
    border-radius: 13px;
    margin-top: 10px;
}

.skins-before {
    color: white;
}

