.authPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:
        linear-gradient(
            to right,
            rgb(15, 25, 35), rgb(0 0 0 / 0)
        );
    border-radius: 10px 60px 30px;
    padding: 40px 20px;
    height: 600px;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
}

.auth__title {
    font-weight: normal;
    color: #9A9A9A;
}