.authPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px 60px 30px;
    padding: 0px 20px;
    height: 100%;
}

.authPage-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.authPage__lang__btn {
    background: #ff4655;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    width: 100%;
    padding: 200px 0;
}

.auth__title {
    font-weight: lighter;
    color: #9A9A9A;
    letter-spacing: 0.5px;
    font-size: 16px;
    margin: 20px;
}

.auth input {
    background: transparent;
    border: 1px solid rgba( 212, 212, 212 );
    border-radius: 20px;
    padding: 16px 20px;
    margin: 2px;
    color: #fff;
    font-size: 14px;
    text-align: left;
    width: 480px;
}

.auth input:placeholder {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    display: flex;
}

.auth input:focus {
    outline: none;
    border-color: #ff4655;
}

.signin__btn {
    margin-top: 8px;
    padding: 10px 26px;
    background: #ff4655;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Inter", sans-serif;
}

.auth__title__page {
    display: flex;
    font-size: 30px;
}

.new__acc {
    font-size: 15px;
    margin: 15px;
}

.new__acc__btn {
    background: transparent;
    color: cornflowerblue;
    font-weight: 600;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    border: none;
}