.article__card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    border-radius: 20px;

    padding: 30px;
    margin: 5px;

    background: rgba(0, 0, 0, 0.3);
}

.article__image {
    max-width: 400px;
    border-radius: 20px;

}

.article__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 15px;
}
.article__title {
    font-size: 26px;
    margin: 10px 0;
}

.article__description {
    font-size: 16px;
    margin: 10px 0;
}

.read__more__btn {
    padding: 10px 26px;
    background: #ff4655;
    border: none;
    color: #fff;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    font-family: Montserrat;
    margin: 10px 0;
}